@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Page */
header {
    background-color: #0D698B;
    height: 100vh;
}

nav, li a {
    display: flex;
    list-style: none;
    text-decoration: none;
}

#poke {
    width: 90px;
    height: 90px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50%;
}

#list, #ref {
    align-items: center;
    margin: 40px;
    margin-left: 20px;
    font-family: 'Fredoka One';
    text-transform: uppercase;
    margin-top: 28px;
}

#list a, #ref a {
    color: #F2F1E8;
    /* font-size: 30px; */
    font-size: 2.5vw;
}

#list a:hover, #ref a:hover {
    transition: all 0.3s ease 0s;
    color: #E34234;
}

/* Pop-up */
#regions {
    position: absolute;
    display: none;
}

#regions.active {
    display: flex;
    background-color: #1895a3;
    margin-left: -20px;
    margin-top: 10px;
    border-radius: 15px;
}

#regions.active li {
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
}

/* Main Page */
#semi_head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: none;
    margin-top: 10px;
}

#trio {
    margin-top: -5px;
    margin-left: 90px;
    margin-right: 40px;
    width: 33%;
}

#table {
    color: #F2F1E8;
    margin: 0px;
    padding: 0px;
    /* font-size: 50px; */
    font-size: 3vw;
    font-family: 'Ubuntu';
    font-style: italic;
    margin-right: 50px
}

#by {
    font-size: 1.25vw;
    font-style: normal;
    color: #050533;
}

.regions {
    position: absolute;
    display: none;
    background: #E34234;
}

.regions li:hover {
    display: block;
}

/* Body */
body {
    background-color: white;
}

#arrow {
    margin-top: 15px;
    display: block;
    width: 5%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

#kanto_map {
    max-width: 40%;
    height: auto;    
}

p {
    cursor: default;
    font-family: 'Ubuntu';
    font-size: 1.5vw;
    text-align: justify;
    margin-left: 40px;
    margin-right: 20px;
    
}

#sec_1 {
    display: flex;
    margin-bottom: 10px;
    margin-right: 40px;
}

.title {
    margin-top: 20px;
    margin-left: 40px;
    font-family: 'Fredoka One';
    font-size: 30px;
    color: #E34234;
}

#sec_2 {
    margin-right: 25px;
    margin-bottom: 30px;
}

/* Footer */
footer {
    background-color:#0D698B;
    height: 65px;
}

.logo {
    cursor: pointer;
    width: 10%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Pokeball orange #ff3d00 */