@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav-Bar */
nav {
    display: flex;
    list-style: none;
    height: 95px;
    background-color: #0D698B;
    align-items: center;
}

#poke {
    width: 90px;
    height: 90px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50%;
}

#list, #ref {
    align-items: center;
    margin: 40px;
    margin-left: 20px;
    font-family: 'Fredoka One';
    text-transform: uppercase;
    
    text-decoration: none;
    color: #F2F1E8;
    /* font-size: 30px; */
    font-size: 2.5vw;
}

#ref:hover {
    transition: all 0.3s ease 0s;
    color: #E34234;
}

#list {
    color: #E34234;
}


/* Body */
.name {
    cursor: default;
    font-family: 'Fredoka One';
    color: #E34234;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0px;
}

.table {
    cursor: default;
    margin-left: 100px;
    margin-right: 100px;
}

td {
    font-family: 'Ubuntu';
    font-size: 20px;
    padding: 8px;
    border-bottom: 1pt solid #f4f4f2;
}

.left {
    text-align: right;
    color: #495464;
}

#bulbasaur, #charmander, #squirtle, #chiko, #cynda, #toto, #tree, #torc, #mudki {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bulbaImg, #charmImg, #squirtleImg {
    max-width: 20%;
    height: auto;
}

#chikoImg, #cyndaImg {
    max-width: 23%;
    height: auto;
}

#totoImg{
    max-width: 15%;
    height: auto;
}

#treeImg {
    max-width: 25%;
    height: auto;
}

#torImg, #mudImg{
    max-width: 17%;
    height: auto;
}

#region_1, #region_2, #region_3 {
    display: inline;
}

#region_1.active, #region_2.active, #region_3.active {
    display: inline;
}

.desc {
    cursor: default;
    font-family: 'Ubuntu';
    font-size: 20px;
    margin: 20px 100px;
    text-align: center;
    margin-bottom: 30px;
    text-transform: bold;
}

.even {
    background-color: #d9ecf2;
    padding: 5px;
}

/* Footer */
footer {
    background-color: #0D698B;
    height: 65px;
    margin-top: auto;
}

.logo {
    cursor: pointer;
    width: 10%;
    height: auto;
    /* background-color: red; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}